.header {
    width: 100%;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &__container {
        background-color: black;
        padding: 12px 0;
    }
}